.btn-register[disabled] {
  opacity: 0.9;
  background-color: red;
  pointer-events: none;
}
.containerRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 192px;
  width: 25%;
  box-shadow: inset 0 -3em 3em rgb(0 0 0), 0 0 0px 2px rgb(255 255 255),
    0.3em 0.3em 1em rgb(0 0 0 / 29%);
  padding: 148px;
}
